extends ../../includes/app.pug
include ../../components/side-menu.pug

block title
    title 内容管理 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    +side-menu('admin_content')
    .panel
        .panel-title 
            h1 内容管理
            .panel-btns-list
                a.btn(href="/admin/content/create") 发表文章
        .panel-content
            .content-list
                if result && result.length > 0
                    table.table
                        thead
                            tr
                                th 标题
                                th 状态
                                th 浏览数
                                th 发布时间
                                th 管理
                        tbody
                            each item in result
                                tr
                                    td= item.title
                                    td= {'published': '公开', 'privated': '私密'}[item.status]
                                    td= item.hits
                                    td= locals.viewHelper.dateFormat(item.createdAt, 'yyyy-MM-dd hh:mm')
                                    td
                                        a(href=`/admin/content/${item._id}/update`)
                                            span.color-update 修改
                                        a(href=`/admin/content/${item._id}/remove`)
                                            span.color-delete 删除
                else
                    .no-data 暂无数据
