extends ../../includes/app.pug
include ../../components/side-menu.pug

block title
    title 留言管理 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    +side-menu('admin_message')
    .panel
        .panel-title 
            h1 留言管理
        .panel-content
            .content-list
                if result.length > 0
                    table.table
                        thead
                            tr
                                th 名字
                                th 邮箱
                                th 地址
                                th 内容
                                th 时间
                                th 管理
                        tbody
                            each item in result
                                tr
                                    td= item.name
                                    td= item.email || '无'
                                    td= item.ip
                                    td= item.content
                                    td= locals.viewHelper.dateFormat(item.createdAt, 'yyyy-MM-dd hh:mm')
                                    td
                                        a(href=`/admin/message/${item._id}/remove`)
                                            span.color-delete 删除
                else
                    .no-data 暂无数据
