extends ../../includes/app.pug
include ../../components/side-menu.pug

block title
    title 留言管理 ｜ 前端，后端，移动端，端端皆为技术 - 一天一步网。

block main
    +side-menu('admin_category')
    .panel
        .panel-title 
            h1 留言管理 ｜ 删除
            .panel-btns-list
                a.btn(href="/admin/message") 返回列表
        .panel-content
            form(method="post" action=`/admin/message/${result._id}/remove`)
                .form-panel
                    .form-input
                        input.form-control.disable(type="text" value=result.name disabled=true)
                    .form-input
                        input.form-control.disable(type="text" value=result.email disabled=true)
                    .form-input
                        input.form-control.disable(type="text" name="weight" value=result.ip disabled=true)
                    .form-input
                        input.form-control.disable(type="text" name="pathname" value=result.content disabled=true)
                    .form-input
                        input.form-control.disable(type="text" name="pathname" value=locals.viewHelper.dateFormat(result.createdAt, 'yyyy-MM-dd hh:mm') disabled=true)
                    .form-input
                        button.btn-submit(type="submit") 确定删除
