include ./page-nav.pug

mixin category-content(data)
    .bm-panel.category-content.shadow.text-shadow
        .bm-panel-title(style=`background-image: url(${'/images/homepage/default/poster/small/' + String(data.info._id)[23] + '.jpg'})`)
            .category-header
                span= data.info.name
        .bm-panel-content
            .category-body
                if data.info.desc
                    blockquote
                        p= data.info.desc
                each item in data.list
                    a.category-post-item(href=`/post/${item._id}`)
                        .category-post-title= item.title
                        .category-post-words
                            span= item.wordsCount
                            span words

            if (data.countPage > 1)
                +page-nav(data.currentPage, data.countPage)