mixin labs(applications)
    each i,index in applications
        .lab-item
            a(href=i.url target='_blank').bm-panel.list-container.shadow
                .lab-item-cover(style=`background-image: url(${i.cover})`)
                    span.text-shadow= i.name
                .lab-item-info
                    h1.font-title= i.title
                    p= i.desc
                    .lab-item-icon(style=`background-image: url(${i.icon})`)