mixin post-content(data)
    .bm-panel.post-content.shadow.text-shadow
        .bm-panel-title
            .post-header
                h1.post-title.theme-font-title-color= data.title
                .post-meta.theme-help-text-color
                    span.post-time= `发表于 ${locals.viewHelper.dateFormat(data.createdAt, 'yyyy-MM-dd')}  |  `
                    span.post-category= `分类于 ${data.category}`
                    //- span.post-comments-count 0条评论
        .bm-panel-content
            .post-body.theme-font-text-color!= data.html
                
        .bm-panel-bar
            .post-tags
                each item in data.tag
                    span.post-tag= item.name
            .post-like
                span.heart


